.App {
  text-align: center;
}

.dropdown {
  width: 50%;
  margin-left: 25%;
}
table{
  border-collapse: collapse;
}
table,th,td{
  margin-top: 4%;
  /* margin-left: -15%; */
}
td,th{
  border: solid black 1px;
  padding: 2vw 9vw;
}